<!doctype html>
<html lang="en">
  <head>
      <style>
          body {
              font-family: 'Poor Story', cursive !important; 
          }
      </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineMax.min.js"></script>-->
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <script src="/javascripts/canvas.js"></script>

    <title>Creative Lab Authentication</title>
  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <form class="form-inline">
            <a href="/home" class="btn btn-outline-primary" role="button" aria-pressed="true">Home</a>
            <a href="/login" class="btn btn-sm btn-outline-success" role="button" aria-pressed="true">Login</a>
            <a href="/signup" class="btn btn-sm btn-outline-warning" role="button" aria-pressed="true">Signup</a>
            <a href="/logout" class="btn btn-sm btn-outline-danger" role="button" aria-pressed="true">Logout</a>

        </form>
    </nav>

